#header {
background-color: #4080bf;
color: white;
text-align: center;
margin: auto;
width: 100%;
padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.head {
  max-width: 1400px;
  margin: auto;
}

.container-fluid {
  /*height: 600px;
  width: 800px;
  margin: auto;*/
  padding: 10px;
}

#mainContainer {
  max-width: 1000px;
  padding: 40px;
  margin: auto;
}

#mapid {
  height: 450px;
  width: 400px;
  float: right;
}

#savedRides, #patients {
  height: 450px;
  width: 400px;
  background-color: lightgray;
  padding: 10px;
  float: left;
}
